{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.first_name.label }} {{ form.first_name(size=32) }}
    </div>
    <div>
        {{ form.last_name.label }} {{ form.last_name(size=32) }}
    </div>
    <div>
        {{ form.email.label }} {{ form.email(size=32) }}
    </div>
    <div>
        {{ form.username.label }} {{ form.username(size=32) }}
    </div>
    <div>
        {{ form.password.label }} {{ form.password(size=32) }} -- <span style=color:red>{{message}}</span>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
{% endblock %}