<!-- app/templates/register.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </div>
    <div>
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=32) }}
    </div>
    <div>
        {{ form.last_name.label }}<br>
        {{ form.last_name(size=32) }}
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </div>
    <button type="submit">Register</button>
</form>
{% endblock %}
